<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qread.qread">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
   <application
        android:label="Qread"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <!-- 【必须开启明文 HTTP】Android 9(P) 起默认 usesCleartextTraffic=false，
             会拦截所有 http:// 请求。而书源给的段评接口、正文图片、发现页地址
             大量是明文 http（例如段评 http://219.154.201.122:5006/get_para_review），
             关着就会报 net::ERR_CLEARTEXT_NOT_PERMITTED、网页无法打开。
             打开后 WebView / 图片 / 接口的 http 都能正常走。 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 【修复】关闭 Impeller，回退到 Skia。
             Android 上 Flutter 默认用 Impeller（Vulkan 后端）。部分 GPU 驱动上
             字形图集/纹理采样精度出问题，整屏文字会碎裂、错位、重叠，锁屏再
             解锁（重建 surface）后又能恢复，正是用户反馈的「字体重叠模糊」。
             关掉后走 Skia，文字渲染稳定。

             【为什么必须写成 meta-data】
             flutter 命令行里的 no-enable-impeller 参数，在 release 构建中会被
             flutter_tools 忽略（会打印 "the flag is ignored in release builds"），
             所以只能写在 manifest 里。引擎侧对应 FlutterEngineFlags.ENABLE_IMPELLER，
             其 metadataKey 前缀固定为 io.flutter.embedding.android.，
             且 allowedInRelease 为 true，因此 release 包同样生效。

             【怎么确认生效】
             adb logcat 过滤关键字 Impeller
             关掉后：不应再出现 "Using the Impeller rendering backend (Vulkan)"
             若仍出现，先 flutter clean 再重新打包（manifest 会被 Gradle 缓存）。

             【如果不想完全放弃 Impeller】
             可以只把后端从 Vulkan 换成 OpenGLES（同样是 release 可用），
             即再加一条 name 为 io.flutter.embedding.android.ImpellerBackend、
             value 为 opengles 的 meta-data。
             下面的 EnableImpeller=false 优先级更高，二选一即可。 -->
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="false" />
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
</manifest>
